$white: #FFFFFF;
$dark: #000000;
$lightdark: #310b16;
$lightgray: #d3d3d3;
$accent-color: #7A2841;
$second-color: #D0B0AB;
$accent-bg:  #F5EAD9;
$second-bg: #FCF1E0;
$link-hover: #97717D;
$line-bg: #D7CCBB;
$func-transit: all 0.5s;