.reviews {
    background-color: $accent-bg;
    padding: 80px 0 0 0;
    &__title {
        text-align: center;
        font-family: 'Playfair Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.64px;
        color: $accent-color;
        padding: 0 44px;
    }
    &__slider {
        position: relative;
        padding: 30px 0 0 0;
        text-align: center;
    }
    &__slider-client-img {
        border-radius: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }
    &__slider-client-text {
        text-align: center;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.49px;
        color: $accent-color;
        padding: 0 42px 22px 42px;
    }
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    background-color: $accent-bg;
}

@media (min-width: 640px) {
    .reviews {
        padding: 120px 0 0 0;
        &__title {
            font-size: 48px;
            letter-spacing: -0.96px;
            padding: 0 120px;
        }
        &__slider-client-text {
            font-size: 16px;
            letter-spacing: -0.56px;
            padding: 0 152px 24px 152px;
        }
        &__slider {
            padding: 40px 0 0 0;
        }
    }
    .arrow-l {
        position: absolute;
        top: 190px;
        left: 15px;
        border: none;
        background: transparent;
        z-index: 2;
    }
    .arrow-r {
        position: absolute;
        top: 190px;
        right: 15px;
        border: none;
        background: transparent;
    }
    .slick-arrow {
        display: inline-block !important;
    }
}

// For display 1366px
@media (min-width: 1366px) {
    .reviews {
        padding: 150px 0 0 0;
        &__title {
            font-size: 64px;
            letter-spacing: -1.28px;
            padding: 0 278px;
        }
        &__slider-client-img {
            margin-bottom: 30px;
        }
        &__slider-client-text {
            font-size: 20px;
            letter-spacing: -0.7px;
            padding: 0 296px 38px 296px;
        }
        &__slider {
            padding: 80px 0 0 0;
        }
    }
    .arrow-l {
        left: 30px;
    }
    .arrow-r {
        right: 30px;
    }
}

// Отключаем дефолтные стрелки
.slick-prev:before,
.slick-next:before {
    display: none;
}